<section class="box-color-definitions-1 text-color-definitions-2" id="testimonials">
  <div class="padding-top-bottom--up-3 large--padding-top-bottom--up-7">
    <div class="container-default">
      <div class="large--flex--up-4">
        <div class="large--flex-item">
          <div class="large--flex-bar large--position-sticky large--position-top large--height-full-vh">
            <div class="flex-item">
              <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                <h2 class="text-color-inherit font-stack-base text-caps font-weight-700 font-size--0 large--font-size--up-4 line-height--none margin-bottom--down-2 large--margin-bottom--up-1" style="color: #65102B;">
                  TESTIMONIALS
                </h2>

                <h3 class="text-color-inherit font-size--up-10 line-height--up-14 large--font-size--up-17 large--line-height--up-20 margin-bottom--0 large--margin-bottom--up-1">
                  See what my clients have to say
                </h3>

                <p class="font-size--inherit line-height--inherit margin-bottom--up-2 large--margin-bottom--none">
                  I take pride in saying that I work with some of the best Shopify agencies out there. I've lead development teams, consulted on complex technical solutions and launched a few of the largest stores on the Shopify platform. Don't just take my word for it, take a look at what my clients have to say about me.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="xlarge--flex-item-shrink xlarge--nine-sixteen">
          <ul class="margin-bottom--none last-child-margin--none">
            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://avexdesigns.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'morgan-curschman.jpg'}}" alt="Morgan Curschman, COO at Avex" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              We had the pleasure of working with Tom on a high priority shopify project when our team was short on development resources, and honestly, it felt like we had an entire team of developers in one person.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://avexdesigns.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Morgan Curschman
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    COO at Avex
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://idhlagency.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'angela-hoey.jpg'}}" alt="Angela Hoey, Director of Development at Fostr" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              We hired Tom as a contractor, and I cannot recommend him highly enough. He hit the ground running and quickly established himself as a highly experienced Shopify developer, impressing both our client base and our internal PM and AM teams. Looking forward to working with you again.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://idhlagency.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Angela Hoey
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Director of Development at IDHL
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://serieseight.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'mario-vassiliades.jpg'}}" alt="Mario Vassiliades, Owner at Series Eight" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              We have been working with Tom on a few projects and he has been an outstanding asset to the team! His Shopify and Front-End experience is A-Class. His soft skills with the team is great, always engaged and gives insight and support to the team. I am looking forward to working with Tom on more exciting projects at Series Eight.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://serieseight.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Mario Vassiliades
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Owner at Series Eight
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://function.london" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'michael-parkin.jpg'}}" alt="Michael Parkin, Founder at Function" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom's been fantastic to work with on our projects. His skills in Shopify and front-end development are top-tier. Beyond the tech stuff, he's a great team player, always ready to chip in with advice or a helpful hand. If you're diving into the world of Shopify, Tom is a great person to have on your team. Looking forward to more projects with him, and I highly recommend him to anyone in need of a solid developer.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://function.london" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Michael Parkin
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Founder at Function
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://fostr.io" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'ryan-foster.jpg'}}" alt="Ryan Foster, Founder at Fostr" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom is a very capable full stack developer with a great deal of experience working within the Shopify eco-system. He works very well within various different team structures and delivers work on time and to specification, with great communication and availability when needed. Tom is a valued member of our team!
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://fostr.io" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Ryan Foster
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Founder at Fostr
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://fuelmade.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'carson-mccomas.jpg'}}" alt="Carson McComas, CEO at Fuel Made" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              I worked closely with Tom for a few years and can say that he is one of the most talented developers I've ever worked with, and knows Shopify as well as anyone. He's a hard worker, lightning fast, curious, passionate, honest, and a problem solver. To cap it all, he's a very enjoyable and pleasant person to have around. He's a rare breed and an asset to anyone who engages him.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://fuelmade.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Carson McComas
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    CEO at Fuel Made
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://pensxpress.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'angel-g-martinez.jpg'}}" alt="Angel G. Martinez, Founder at PensXpress" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              I highly recommend Tom Blanchard as a Freelance Full-stack Shopify Developer. Tom has been an invaluable asset to our company, pensxpress.com, for the past 8 years. His expertise in Shopify development has consistently impressed us, and he has completed numerous projects for us with exceptional results.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://pensxpress.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Angel G. Martinez
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Founder at PensXpress
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://propeller.co.uk" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'lauren-pitman.jpg'}}" alt="Lauren Pitman, Head of Project Delivery at Propeller" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom was amazing to work with! Extremely knowledgeable about Shopify, a great communicator, and an all round superstar. I was also super happy with the quality &amp; speed of the work and the client was delighted with their new website! I would happily work with Tom again in the future and would recommend him to anyone looking for a talented developer.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://propeller.co.uk" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Lauren Pitman
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Head of Project Delivery at Propeller
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2 ">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://liquify.design" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'joe-dempsey.jpg'}}" alt="Joe Dempsey, Founder at Liquify" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom is simply the best Shopify developer I've worked with (and I've worked with quite a lot over the past 5 years). He writes clean code and knows Shopify inside out. Can't fault his work and level of detail - he's working at the highest level of Shopify development. 100% recommended.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://liquify.design" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Joe Dempsey
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Founder at Liquify
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://aeolidia.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'arianne-foulks.jpg'}}" alt="Arianne Foulks, Founder at Aeolidia" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom has been a huge help in providing speedy and thoughtful feature solutions for our Shopify clients. We appreciate his cheerful can-do attitude and how he collaborates with our team. Thanks, Tom!
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://aeolidia.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Arianne Foulks
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Founder at Aeolidia
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://domaineworldwide.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'max-rolon.jpg'}}" alt="Max Rolon, CTO at Domaine" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom was a pleasure to work with. He is diligent with a strong commitment to quality, tested work.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://domaineworldwide.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Max Rolon
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    CTO at Domaine
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://makeitrane.com" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'gareth-watson.jpg'}}" alt="Gareth Watson, Web Developer at RANE" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              We recently had to reach out to Tom for advice on a strategy we were putting into place for a client on Shopify. With Shopify being the closed system that it is it is often hard to find the kind of help that is needed on projects like this and that is readily available on other platforms. I really cannot recommend Tom enough for his expertise in relation to Shopify and on how approachable he was.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://makeitrane.com" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Gareth Watson
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Web Developer at RANE
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://tvp.nyc" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'daria-rose.jpg'}}" alt="Daria Rose, Director at TVP NYC" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom is really great to work with! He is super speedy and really thinks outside of the box when it comes to developing within Shopify. Before working with him, I often though some functionality was nearly impossible or would we way too time-consuming, he helped us think about it in new ways.
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://tvp.nyc" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Daria Rose
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Director at TVP NYC
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>

            <li class="margin-bottom--up-2">
              <div class="border-definitions-4">
                <div class="padding--up-3 xlarge--padding-left-right--up-5">
                  <div class="font-size--down-2 line-height--up-4 large--font-size--0 large--line-height--up-6">
                    <div class="xlarge--flex-bar--up-3">
                      <div class="xlarge--flex-item-shrink one-two medium--three-ten box-center">
                        <a href="https://madebyunfold.co" target="_blank">
                          <div class="margin-bottom--up-2 xlarge--margin-bottom--none">
                            <div style="filter: grayscale(1);">
                              <div class="image-container">
                                <img class="border-radius-full" src="{{asset 'harry-cobbold.jpg'}}" alt="Harry Cobbold, Founder at Unfold" />
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>

                      <div class="xlarge--flex-item">
                        <div class="text-center xlarge--text-left">
                          <blockquote class="font-size--inherit line-height--inherit flex-vertical-reverse margin-bottom--none">
                            <p class="font-size--inherit line-height--inherit margin-bottom--none">
                              Tom has consulted on a number of projects for us and his help has always been insightful, timely and incredibly valuable. I'd happily recommend him to anyone in my network. Thank you Tom!
                            </p>

                            <footer class="margin-bottom--down-1">
                              <cite style="font-style: inherit;">
                                <a class="text-color-inherit" href="https://madebyunfold.co" target="_blank">
                                  <span class="block font-stack-heading font-size--up-6 line-height--up-10 large--font-size--up-10 large--line-height--up-14 margin-bottom--down-4">
                                    Harry Cobbold
                                  </span>

                                  <span class="block font-stack-heading large--font-size--0 large--line-height--up-6">
                                    Founder at Unfold
                                  </span>
                                </a>
                              </cite>
                            </footer>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
