<section id="intro">
  <div class="padding-top-bottom--up-2 large--padding-top-bottom--up-4">
    <div class="container-default">
      <div class="large--flex--up-4 large--flex-reverse">
        <div class="large--flex-item-shrink large--four-eleven">
          <div class="image-container">
            <img
              class="aspect-square object-cover large--aspect-auto"
              src="{{asset 'avatar.jpg'}}"
              alt="
                This is me standing in a field, awkwardly waiting for my better
                half to take the picture.
              " />
          </div>
        </div>

        <div class="large--flex-item large--flex-vertical">
          <div class="margin-top--up-2 margin-bottom--up-1 large--margin-top--up-3 large--margin-bottom--up-3">
            <div
              class="box-color-definitions-3"
              style="width: 35px; height: 3px; --large--width: 70px; --large--height: 5px;"></div>
          </div>

          <h1 class="font-size--up-18 line-height--none margin-bottom--0 large--margin-bottom--up-1" style=" --large--font-size: 115px;">
            Hey there!
          </h1>

          <div style="max-width: 510px;">
            <h2 class="font-stack-base font-size--inherit line-height--inherit large--font-size--up-2 large--line-height--up-8 font-weight-600 text-color-definitions-3 margin-bottom--up-1 large--margin-bottom--up-2">
              I'm Tom Blanchard, a multidisciplinary developer based on the North East
              coast of England, specialising in crafting solutions for the Shopify
              platform.
            </h2>
          </div>

          <div class="margin-bottom--up-1 large--margin-bottom--up-3">
            <a class="button-primary" href="#about">
              <div class="flex-bar--down-3">
                <div class="flex-item-shrink">
                  About Tom
                </div>

                <div class="flex-item-shrink">
                  <div class="font-size--down-4 large--font-size--down-2 line-height--none">
                    {{> 'svg-arrow-bottom'}}
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="margin-bottom--up-3 large--margin-bottom--up-4">
            <div style="max-width: 160px;">
              <div style="filter: grayscale(1);">
                <div class="image-container">
                  <img src="{{asset 'shopify-partners.svg'}}" alt="Shopify Partners" />
                </div>
              </div>
            </div>
          </div>

          <div class="margin-top--auto">
            <div style="max-width: 350px; --large--max-width: none;">
              <div class="overflow-hidden">
                <ul class="flex-bar--up-3 margin-bottom-negative--down-1 flex-wrap margin-bottom--none">
                  <li class="flex-item-shrink padding-bottom--down-1" style="width: 24.15%; --large--width: 13.15%;">
                    <div class="image-container">
                      <a class="block opacity-70 hover-opacity-100" href="https://neweracap.com" target="_blank">
                        <img src="{{asset 'new-era.svg'}}" alt="New Era" />
                      </a>
                    </div>
                  </li>

                  <li class="flex-item-shrink padding-bottom--down-1" style="width: 49.35%; --large--width: 30.12%;">
                    <div class="image-container">
                      <a class="block opacity-70 hover-opacity-100" href="https://victoriabeckham.com" target="_blank">
                        <img src="{{asset 'victoria-beckham.svg'}}" alt="Victoria Beckham" />
                      </a>
                    </div>
                  </li>

                  <li class="flex-item-shrink padding-bottom--down-1" style="width: 26.5%; --large--width: 15%;">
                    <div class="image-container">
                      <a class="block opacity-70 hover-opacity-100" href="https://clarks.com" target="_blank">
                        <img src="{{asset 'clarks.svg'}}" alt="Clarks Shoes" />
                      </a>
                    </div>
                  </li>

                  <li class="flex-item-shrink padding-bottom--down-1" style="width: 29.85%; --large--width: 15.8%;">
                    <div class="image-container">
                      <a class="block opacity-70 hover-opacity-100" href="https://medik8.com" target="_blank">
                        <img src="{{asset 'medik8.svg'}}" alt="Medik8" />
                      </a>
                    </div>
                  </li>

                  <li class="flex-item-shrink padding-bottom--down-1" style="width: 18%; --large--width: 8.6%;">
                    <div class="image-container">
                      <a class="block opacity-70 hover-opacity-100" href="https://nipandfab.com" target="_blank">
                        <img src="{{asset 'nip-and-fab.svg'}}" alt="Nip & Fab" />
                      </a>
                    </div>
                  </li>

                  <li class="flex-item-shrink padding-bottom--down-1" style="width: 26.15%; --large--width: 13.9%;">
                    <div class="image-container">
                      <a class="block opacity-70 hover-opacity-100" href="https://wearfigs.com" target="_blank">
                        <img src="{{asset 'figs.svg'}}" alt="FIGS Scrubs" />
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
